prog1_mandelbrot_threads/um_interleaved.csv
prog1_mandelbrot_threads/um.csv
prog1_mandelbrot_threads/um2.csv
prog1_mandelbrot_threads/um2_interleaved.csv
prog1_mandelbrot_threads/objs/
prog1_mandelbrot_threads/mandelbrot-serial.ppm
prog1_mandelbrot_threads/mandelbrot-thread.ppm
prog2_vecintrin/CS149intrin.o
prog2_vecintrin/logger.o
prog2_vecintrin/myexp
prog3_mandelbrot_ispc/objs/
prog3_mandelbrot_ispc/mandelbrot_ispc
prog3_mandelbrot_ispc/mandelbrot-ispc.ppm
prog3_mandelbrot_ispc/mandelbrot-serial.ppm
prog3_mandelbrot_ispc/mandelbrot-task-ispc.ppm
prog4_sqrt/objs/
prog4_sqrt/sqrt
prog5_saxpy/objs/
prog5_saxpy/saxpy
myenv
prog6_kmeans/end.log
prog6_kmeans/start.log
prog6_kmeans/data.dat
prog6_kmeans/objs/